# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/

# Conda
.conda/
*.conda

# Jupyter
.ipynb_checkpoints/

# Data (too large)
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv
data/processed/*.npy
*.pkl
*.joblib
*.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Kaggle
.kaggle/

#report
report_content.md
report_content.pdf